{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Login error!!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}


        <div class="row justify-content-center">
            <div class="col-4">
                <form action="{{ path('app_auth_login') }}" method="post">
                <div class="form-group">
                    <label for="username">Email address</label>
                    <input type="email" class="form-control" id="username" name="_username" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
                </div>
                    <button type="submit" class="btn btn-primary btn-block">ログイン</button>

                </form>


            </div>
        </div>
    </div>


{% endblock %}